body, html {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  flex: 1;
}

a {
  color: #343a40;
}

a:hover {
  color: #1d2124;
  text-decoration: none;
}

/*      header styles      */
header {
  background: #1f2025;
  color: #fff;
  padding: 1.75em;
}

header h1 {
  font-family: 'RailwayRegular', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.05em;
  margin: 0;
}

/*      line-list styles      */
#line-list-container {
  border-right: 1px solid #cacaca;
  padding: 3em 1em;
}

#line-list-container ul {
  list-style-type: none;
  font-family: 'RailwayRegular', sans-serif;
  font-size: 1.75rem;
  padding-left: 0.75rem;
}

#line-list-container ul li {
  display: flex;
  margin-bottom: 1.65rem;
}

#line-list-container ul li::before {
  content: '\f111';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.75em;
}

/*      line-item styles      */
.bakerloo::before {
  color: #b36305;
}

.central::before {
  color: #e32017;
}

.circle::before {
  color: #ffd300;
}

.district::before {
  color: #00782a;
}

.hammersmith-city::before {
  color: #f3a9bb;
}

.jubilee::before {
  color: #a0a5a9;
}

.metropolitan::before {
  color: #9b0056;
}

.northern::before {
  color: #000;
}

.piccadilly::before {
  color: #003688;
}

.victoria::before {
  color: #0098d4;
}

.waterloo-city::before {
  color: #95cdba;
}

/*      status-badge styles      */
#line-list-container ul li::after {
  align-self: center;
  border-radius: .25rem;
  color: #fff;
  font-size: 0.5rem;
  font-family: arial, helvetica, sans-serif;
  margin-left: auto;
  margin-right: 0.5rem;
  padding: 0.25rem;
}

.severity-level0::after {
  content: 'SPECIAL SERVICE';
  background: #4cb3d2;
}

.severity-level1::after {
  content: 'CLOSED';
  background: #bf3737;
}

.severity-level2::after {
  content: 'SUSPENDED';
  background: #bf3737;
}

.severity-level3::after {
  content: 'PART SUSPENDED';
  background: #ff9500;
}

.severity-level4::after {
  content: 'PLANNED CLOSURE';
  background: #4cb3d2;
}

.severity-level5::after {
  content: 'PART CLOSURE';
  background: #bf3737;
}

.severity-level6::after {
  content: 'SEVERE DELAYS';
  background: #ff9500;
}

.severity-level7::after {
  content: 'REDUCED SERVICE';
  background: #ffc52c;
}

.severity-level8::after {
  content: 'BUS SERVICE';
  background: #ffc52c;
}

.severity-level9::after {
  content: 'MINOR DELAYS';
  background: #ffc52c;
}

.severity-level10::after {
  content: 'GOOD SERVICE';
  background: #76c000;
}

.severity-level11::after {
  content: 'PART CLOSED';
  background: #bf3737;
}

.severity-level12::after {
  content: 'EXIT ONLY';
  background: #4cb3d2;
}

.severity-level13::after {
  content: 'NO STEP-FREE ACCESS';
  background: #4cb3d2;
}

.severity-level14::after {
  content: 'CHANGE OF FREQUENCY';
  background: #ffc52c;
}

.severity-level15::after {
  content: 'DIVERTED';
  background: #ff9500;
}
.severity-level16::after {
  content: 'NOT RUNNING';
  background: #bf3737;
}

.severity-level17::after {
  content: 'ISSUES REPORTED';
  background: #ffc52c;
}

.severity-level18::after {
  content: 'NO ISSUES';
  background: #76c000;
}
.severity-level19::after {
  content: 'INFORMATION';
  background: #4cb3d2;
}

.severity-level20::after {
  content: 'SERVICE CLOSED';
  background: #bf3737;
}

/*      placeholder styles      */
.placeholder {
  color: #cacaca;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.placeholder p {
  margin: 0;
}

/*      route form styles      */
#route-selection {
  margin: 3em auto 6em;
  width: 75%;
}

.route-label {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

/*      station list styles styles      */
#station-list-container {
  width: 75%;
  margin: 3em auto;
  padding: 0 2em;
}

.station {
  margin-bottom: 3rem;
}

.station h2 {
  font-family: 'RailwayRegular', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.03rem;
}

h2.station-name::before {
  content: '\f111';
  background: #000;
  border-radius: 50%;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 0.75em;
  font-weight: 900;
  margin-left: -2.285em;
  margin-right: 1em;
  padding: 0.25em;
}

.station h3 {
  font-size: 1.25rem;
}

h3::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.75rem;
}

/*      information styles      */
.information {
  margin-left: 2em;
}

.information h3 {
  cursor: pointer;
}

.information h3::before {
  content: '\f071';
  color: #ffcc00;
}

.information p {
  font-size: 0.85rem;
}

.hidden {
  display: none;
}

.display-info::after {
  content: '\f106';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 1rem;
}

.hide-info::after {
  content: '\f107';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 1rem;
}

/*      connection list styles      */
.connections {
  margin-left: 2em;
}

.connections h3::before {
  content: '\f362';
}
.connections ul {
  list-style-type: none;
  padding-left: 2rem;
}

.connections li::before {
  content: '\f111';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5em;
}

/*      line container styles styles      */
#routes > .bakerloo {
  border-left: solid 8px #b36305;
}

#routes > .central {
  border-left: solid 8px #e32017;
}

#routes > .circle {
  border-left: solid 8px #ffd300;
}

#routes > .district {
  border-left: solid 8px #00782a;
}

#routes > .hammersmith-city {
  border-left: solid 8px #f3a9bb;
}

#routes > .jubilee {
  border-left: solid 8px #a0a5a9;
}

#routes > .metropolitan {
  border-left: solid 8px #9b0056;
}

#routes > .northern {
  border-left: solid 8px #000;
}

#routes > .piccadilly {
  border-left: solid 8px #003688;
}

#routes > .victoria {
  border-left: solid 8px #0098d4;
}

#routes > .waterloo-city {
  border-left: solid 8px #95cdba;
}

/*      footer styles      */
footer {
  background: #1f2025;
  color: #fff;
  font-size: 0.75em;
  padding: 0.75em;
  text-align: center;
  width: 100%;
}

footer p {
  margin: 0;
}

footer a {
  color: #cacaca;
}

footer a:hover {
  color: #cacaca;
  opacity: 0.75;
}
