header {
  background: #1f2025;
  color: #fff;
  font-family: 'RailwayRegular', sans-serif;
  padding: 1.75em;
}

header h1 {
  font-size: 3rem;
  letter-spacing: 0.05em;
  margin: 0;
}

#line-list {
  border-right: 1px solid #cacaca;
  height: 100%;
  padding: 3em 1em;
}

#line-list ul {
  list-style-type: none;
  font-family: 'RailwayRegular', sans-serif;
  font-size: 1.75rem;
}

#line-list ul li {
  display: flex;
  margin-bottom: 1rem;
}

#line-list ul li::before {
  content: '\f111';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 1em;
}

.district::before {
  color: #007229;
}
.bakerloo::before {
  color: #894e24;
}
.victoria::before {
  color: #00a0e2;
}

.severity-10::after {
  content: 'GOOD SERVICE';
  font-size: 0.5rem;
  color: #fff;
  font-family: arial, helvetica, sans-serif;
  background: #59a80f;
  padding: 0.25rem;
  border-radius: .25rem;
  text-align: right;
  margin-left: auto;
  margin-right: 1rem;
  align-self: center;
}

.severity-9::after {
  content: 'MINOR DELAYS';
  font-size: 0.5rem;
  color: #fff;
  font-family: arial, helvetica, sans-serif;
  background: #ef8902;
  padding: 0.25rem;
  border-radius: .25rem;
  text-align: right;
  margin-left: auto;
  margin-right: 1rem;
  align-self: center;
}

.severity-1::after {
  content: 'CLOSED';
  font-size: 0.5rem;
  color: #fff;
  font-family: arial, helvetica, sans-serif;
  background: #dc3533;
  padding: 0.25rem;
  border-radius: .25rem;
  text-align: right;
  margin-left: auto;
  margin-right: 1rem;
  align-self: center;
}

.instruction {
  color: #cacaca;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#station-list-container {
  border-left: solid 8px #007229;
  width: 75%;
  margin: 3em auto;
  padding: 0 2em;
}

.station {
  margin-bottom: 3rem;
}

.station h2 {
  font-family: 'RailwayRegular', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.03rem;
}

.station h3 {
  font-size: 1.25rem;
}

h3::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.75rem;
}

.information {
  margin-left: 2em;
}

.information h3::before {
  content: '\f071';
  color: #ffcc00;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.75rem;
}

.connections h3::before {
  content: '\f362';
}

.information p {
  display: none;
  font-size: 0.85rem;
}

.connections {
  margin-left: 2em;
}

.connections li::before {
  content: '\f111';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5em;
}

.connections li a {
  color: #777d89;
}

.connections li a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.connections ul {
  list-style-type: none;
  padding-left: 2rem;
}

h2.station-name::before {
  content: '\f111';
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-weight: 900;
  margin-left: -2.285em;
  margin-right: 1em;
  background: #000;
  font-size: 0.75em;
  padding: 0.25em;
  border-radius: 50%;
}

#route-selection {
  margin: 3em auto 6em;
  width: 75%;
}

.route-label {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

footer {
  background: #1f2025;
  color: #fff;
  font-size: 0.75em;
  padding: 0.75em;
  text-align: center;
  width: 100%;
}

footer p {
  margin: 0;
}
